body {
    font-family: 'Poppins', sans-serif;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.jumbotron {
    border-radius: 0;
    color: white;
}

#jmb-title {
    background: linear-gradient( rgba(50, 50, 50, 0.45), 
    rgba(10, 10, 10, 0.45)), url("../images/bg-xbox.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

#jmb-community{
    background: linear-gradient( rgba(50, 50, 50, 0.45), 
    rgba(10, 10, 10, 0.45)), url("../images/bg-espresso.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

